<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_agi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,192},{88,16}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,16}}</string>
                <key>sourceSize</key>
                <string>{128,16}</string>
            </dict>
            <key>arrow_agi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,969},{96,16}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,16}}</string>
                <key>sourceSize</key>
                <string>{128,16}</string>
            </dict>
            <key>arrow_agi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,955},{94,20}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,20}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>arrow_agi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,884},{100,24}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,24}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>arrow_agi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,909},{100,18}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,18}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>arrow_agi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,104},{86,18}}</string>
                <key>offset</key>
                <string>{-21,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,18}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>arrow_agi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,280},{86,14}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,14}}</string>
                <key>sourceSize</key>
                <string>{128,16}</string>
            </dict>
            <key>arrow_agi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,991},{96,12}}</string>
                <key>offset</key>
                <string>{-16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,12}}</string>
                <key>sourceSize</key>
                <string>{128,16}</string>
            </dict>
            <key>arrow_agi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,933},{98,20}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,20}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>arrow_final.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,192},{86,14}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,14}}</string>
                <key>sourceSize</key>
                <string>{128,16}</string>
            </dict>
            <key>arrow_mul_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1005},{88,16}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,16}}</string>
                <key>sourceSize</key>
                <string>{128,16}</string>
            </dict>
            <key>arrow_mul_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,951},{96,16}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,16}}</string>
                <key>sourceSize</key>
                <string>{128,16}</string>
            </dict>
            <key>arrow_mul_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,929},{94,20}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,20}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>arrow_mul_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,998},{100,24}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,24}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>arrow_mul_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,889},{100,18}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,18}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>arrow_mul_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,889},{86,18}}</string>
                <key>offset</key>
                <string>{-21,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,18}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>arrow_mul_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,885},{86,14}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,14}}</string>
                <key>sourceSize</key>
                <string>{128,16}</string>
            </dict>
            <key>arrow_mul_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,987},{96,12}}</string>
                <key>offset</key>
                <string>{-16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,12}}</string>
                <key>sourceSize</key>
                <string>{128,16}</string>
            </dict>
            <key>arrow_mul_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,911},{98,20}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,20}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>arrow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,986},{86,10}}</string>
                <key>offset</key>
                <string>{-21,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,10}}</string>
                <key>sourceSize</key>
                <string>{128,16}</string>
            </dict>
            <key>arrow_pow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1001},{88,16}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,16}}</string>
                <key>sourceSize</key>
                <string>{128,16}</string>
            </dict>
            <key>arrow_pow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,584},{96,16}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,16}}</string>
                <key>sourceSize</key>
                <string>{128,16}</string>
            </dict>
            <key>arrow_pow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,884},{94,20}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,20}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>arrow_pow_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{100,24}}</string>
                <key>offset</key>
                <string>{-14,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,24}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>arrow_pow_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{100,18}}</string>
                <key>offset</key>
                <string>{-14,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,18}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>arrow_pow_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,574},{86,18}}</string>
                <key>offset</key>
                <string>{-21,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,18}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>arrow_pow_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,885},{86,14}}</string>
                <key>offset</key>
                <string>{-21,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,14}}</string>
                <key>sourceSize</key>
                <string>{128,16}</string>
            </dict>
            <key>arrow_pow_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,977},{96,12}}</string>
                <key>offset</key>
                <string>{-16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,12}}</string>
                <key>sourceSize</key>
                <string>{128,16}</string>
            </dict>
            <key>arrow_pow_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,889},{98,20}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,20}}</string>
                <key>sourceSize</key>
                <string>{128,32}</string>
            </dict>
            <key>bow_agi_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,743},{88,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,144}}</string>
                <key>sourceSize</key>
                <string>{88,144}</string>
            </dict>
            <key>bow_agi_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,743},{89,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>bow_agi_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,447},{101,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,153}}</string>
                <key>sourceSize</key>
                <string>{101,153}</string>
            </dict>
            <key>bow_agi_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{123,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,143}}</string>
                <key>sourceSize</key>
                <string>{123,143}</string>
            </dict>
            <key>bow_agi_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,901},{95,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,160}}</string>
                <key>sourceSize</key>
                <string>{95,160}</string>
            </dict>
            <key>bow_agi_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,147},{112,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,143}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>bow_agi_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,602},{91,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,139}}</string>
                <key>sourceSize</key>
                <string>{91,139}</string>
            </dict>
            <key>bow_agi_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,142},{117,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,138}}</string>
                <key>sourceSize</key>
                <string>{117,138}</string>
            </dict>
            <key>bow_agi_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>bow_final.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,609},{105,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,129}}</string>
                <key>sourceSize</key>
                <string>{105,129}</string>
            </dict>
            <key>bow_mul_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,282},{88,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,144}}</string>
                <key>sourceSize</key>
                <string>{88,144}</string>
            </dict>
            <key>bow_mul_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,428},{89,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>bow_mul_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,292},{101,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,153}}</string>
                <key>sourceSize</key>
                <string>{101,153}</string>
            </dict>
            <key>bow_mul_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{123,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,143}}</string>
                <key>sourceSize</key>
                <string>{123,143}</string>
            </dict>
            <key>bow_mul_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,292},{95,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,160}}</string>
                <key>sourceSize</key>
                <string>{95,160}</string>
            </dict>
            <key>bow_mul_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,740},{112,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,143}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>bow_mul_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,743},{91,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,139}}</string>
                <key>sourceSize</key>
                <string>{91,139}</string>
            </dict>
            <key>bow_mul_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,2},{117,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,138}}</string>
                <key>sourceSize</key>
                <string>{117,138}</string>
            </dict>
            <key>bow_mul_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,441},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
            <key>bow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,602},{90,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,135}}</string>
                <key>sourceSize</key>
                <string>{90,135}</string>
            </dict>
            <key>bow_pow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,292},{88,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,144}}</string>
                <key>sourceSize</key>
                <string>{88,144}</string>
            </dict>
            <key>bow_pow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,438},{89,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,144}}</string>
                <key>sourceSize</key>
                <string>{89,144}</string>
            </dict>
            <key>bow_pow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,454},{101,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,153}}</string>
                <key>sourceSize</key>
                <string>{101,153}</string>
            </dict>
            <key>bow_pow_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,143}}</string>
                <key>sourceSize</key>
                <string>{123,143}</string>
            </dict>
            <key>bow_pow_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,739},{95,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,160}}</string>
                <key>sourceSize</key>
                <string>{95,160}</string>
            </dict>
            <key>bow_pow_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,147},{112,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,143}}</string>
                <key>sourceSize</key>
                <string>{112,143}</string>
            </dict>
            <key>bow_pow_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,602},{91,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,139}}</string>
                <key>sourceSize</key>
                <string>{91,139}</string>
            </dict>
            <key>bow_pow_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{117,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,138}}</string>
                <key>sourceSize</key>
                <string>{117,138}</string>
            </dict>
            <key>bow_pow_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{111,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,147}}</string>
                <key>sourceSize</key>
                <string>{111,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>arrow_bow.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02ba4f5b12b1a37cf58a4cd426f526d4$</string>
            <key>textureFileName</key>
            <string>arrow_bow.png</string>
        </dict>
    </dict>
</plist>
