<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>emolingzhu_attack_0011.png</key>
		<dict>
			<key>x</key>
			<integer>712</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>244</integer>
			<key>height</key>
			<integer>152</integer>
			<key>offsetX</key>
			<real>17</real>
			<key>offsetY</key>
			<real>-11.5</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>283</integer>
		</dict>
		<key>emolingzhu_attack_0001.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>479</integer>
			<key>width</key>
			<integer>160</integer>
			<key>height</key>
			<integer>167</integer>
			<key>offsetX</key>
			<real>7</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>283</integer>
		</dict>
		<key>emolingzhu_attack_0002.png</key>
		<dict>
			<key>x</key>
			<integer>314</integer>
			<key>y</key>
			<integer>648</integer>
			<key>width</key>
			<integer>109</integer>
			<key>height</key>
			<integer>173</integer>
			<key>offsetX</key>
			<real>-6.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>283</integer>
		</dict>
		<key>emolingzhu_attack_0003.png</key>
		<dict>
			<key>x</key>
			<integer>564</integer>
			<key>y</key>
			<integer>312</integer>
			<key>width</key>
			<integer>261</integer>
			<key>height</key>
			<integer>166</integer>
			<key>offsetX</key>
			<real>10.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>283</integer>
		</dict>
		<key>emolingzhu_attack_0004.png</key>
		<dict>
			<key>x</key>
			<integer>424</integer>
			<key>y</key>
			<integer>647</integer>
			<key>width</key>
			<integer>278</integer>
			<key>height</key>
			<integer>175</integer>
			<key>offsetX</key>
			<real>-31</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>283</integer>
		</dict>
		<key>emolingzhu_attack_0005.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>834</integer>
			<key>width</key>
			<integer>254</integer>
			<key>height</key>
			<integer>187</integer>
			<key>offsetX</key>
			<real>-26</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>283</integer>
		</dict>
		<key>emolingzhu_attack_0006.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>315</integer>
			<key>width</key>
			<integer>321</integer>
			<key>height</key>
			<integer>160</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>283</integer>
		</dict>
		<key>emolingzhu_attack_0007.png</key>
		<dict>
			<key>x</key>
			<integer>826</integer>
			<key>y</key>
			<integer>312</integer>
			<key>width</key>
			<integer>196</integer>
			<key>height</key>
			<integer>166</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>283</integer>
		</dict>
		<key>emolingzhu_attack_0008.png</key>
		<dict>
			<key>x</key>
			<integer>260</integer>
			<key>y</key>
			<integer>822</integer>
			<key>width</key>
			<integer>268</integer>
			<key>height</key>
			<integer>202</integer>
			<key>offsetX</key>
			<real>-36</real>
			<key>offsetY</key>
			<real>-13.5</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>283</integer>
		</dict>
		<key>emolingzhu_attack_0009.png</key>
		<dict>
			<key>x</key>
			<integer>784</integer>
			<key>y</key>
			<integer>782</integer>
			<key>width</key>
			<integer>238</integer>
			<key>height</key>
			<integer>241</integer>
			<key>offsetX</key>
			<real>-45</real>
			<key>offsetY</key>
			<real>-21</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>283</integer>
		</dict>
		<key>emolingzhu_attack_0010.png</key>
		<dict>
			<key>x</key>
			<integer>323</integer>
			<key>y</key>
			<integer>312</integer>
			<key>width</key>
			<integer>240</integer>
			<key>height</key>
			<integer>165</integer>
			<key>offsetX</key>
			<real>-20</real>
			<key>offsetY</key>
			<real>-18</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>283</integer>
		</dict>
		<key>emolingzhu_skill_0009.png</key>
		<dict>
			<key>x</key>
			<integer>653</integer>
			<key>y</key>
			<integer>154</integer>
			<key>width</key>
			<integer>276</integer>
			<key>height</key>
			<integer>157</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>283</integer>
		</dict>
		<key>emolingzhu_run_0001.png</key>
		<dict>
			<key>x</key>
			<integer>467</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>244</integer>
			<key>height</key>
			<integer>152</integer>
			<key>offsetX</key>
			<real>17</real>
			<key>offsetY</key>
			<real>-11.5</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>283</integer>
		</dict>
		<key>emolingzhu_run_0002.png</key>
		<dict>
			<key>x</key>
			<integer>221</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>245</integer>
			<key>height</key>
			<integer>150</integer>
			<key>offsetX</key>
			<real>17.5</real>
			<key>offsetY</key>
			<real>-11.5</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>283</integer>
		</dict>
		<key>emolingzhu_run_0003.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>219</integer>
			<key>height</key>
			<integer>147</integer>
			<key>offsetX</key>
			<real>4.5</real>
			<key>offsetY</key>
			<real>-13</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>283</integer>
		</dict>
		<key>emolingzhu_run_0004.png</key>
		<dict>
			<key>x</key>
			<integer>235</integer>
			<key>y</key>
			<integer>154</integer>
			<key>width</key>
			<integer>203</integer>
			<key>height</key>
			<integer>153</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>283</integer>
		</dict>
		<key>emolingzhu_run_0005.png</key>
		<dict>
			<key>x</key>
			<integer>439</integer>
			<key>y</key>
			<integer>154</integer>
			<key>width</key>
			<integer>213</integer>
			<key>height</key>
			<integer>154</integer>
			<key>offsetX</key>
			<real>-16.5</real>
			<key>offsetY</key>
			<real>-9.5</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>283</integer>
		</dict>
		<key>emolingzhu_run_0006.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>154</integer>
			<key>width</key>
			<integer>233</integer>
			<key>height</key>
			<integer>153</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>-10</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>283</integer>
		</dict>
		<key>emolingzhu_skill_0001.png</key>
		<dict>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>479</integer>
			<key>width</key>
			<integer>226</integer>
			<key>height</key>
			<integer>167</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-8</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>283</integer>
		</dict>
		<key>emolingzhu_skill_0002.png</key>
		<dict>
			<key>x</key>
			<integer>566</integer>
			<key>y</key>
			<integer>478</integer>
			<key>width</key>
			<integer>173</integer>
			<key>height</key>
			<integer>169</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>283</integer>
		</dict>
		<key>emolingzhu_skill_0006.png</key>
		<dict>
			<key>x</key>
			<integer>389</integer>
			<key>y</key>
			<integer>478</integer>
			<key>width</key>
			<integer>176</integer>
			<key>height</key>
			<integer>168</integer>
			<key>offsetX</key>
			<real>-6</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>283</integer>
		</dict>
		<key>emolingzhu_skill_0007.png</key>
		<dict>
			<key>x</key>
			<integer>740</integer>
			<key>y</key>
			<integer>479</integer>
			<key>width</key>
			<integer>248</integer>
			<key>height</key>
			<integer>170</integer>
			<key>offsetX</key>
			<real>6</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>283</integer>
		</dict>
		<key>emolingzhu_skill_0008.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>650</integer>
			<key>width</key>
			<integer>312</integer>
			<key>height</key>
			<integer>171</integer>
			<key>offsetX</key>
			<real>-14</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>340</integer>
			<key>originalHeight</key>
			<integer>283</integer>
		</dict>
	</dict>
</dict>
</plist>